@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.maker{
  background-color: makerWhite;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 80rem;
 
}

.container{
  display: flex;
  flex: 1;
  min-height: 0;
}

@media screen and (max-width: mediaQuery){
  .container{
      flex-direction: column;
  }
}
