@value makerGreen '../../common/colors.css';

.cardPreview{
  flex-basis: 50%;
  background-color: pink;
}




.title{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}