@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';

.header{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: makerGreen;
  padding: 0.5em ;
}


.logo{
  width: 3em;
}

.title{
  margin: 0;
  color: makerWhite;
}

.Logout{
  position: absolute;
  top: 0.5em;
  right: 2em;
  padding: 0.8em;
  background-color: makerGreen;
  color: makerWhite;
  border:none;
  cursor: pointer;
}