@value makerGreen '../../common/colors.css';

.cardmaker{
  flex-basis: 50%;
  background-color: palegoldenrod;
}

.title{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
